<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Ncger-online</title>

        <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/assets/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="/assets/js/plugins/slick/slick.min.css">
        <link rel="stylesheet" href="/assets/js/plugins/slick/slick-theme.min.css">

        <!-- Bootstrap and OneUI CSS framework -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="/assets/css/oneui.css">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="/assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->

        <style>
            div[render=tags] span{
                margin-right: 10px !important;
            }
        </style>
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
        -->
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

            <!-- Sidebar -->
            <nav id="sidebar">
                <div id="sidebar-scroll">
                    <div class="sidebar-content">
                        <div class="side-header side-content bg-white-op">
                            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>

                            <a class="h5 text-white" href="index.html" target="_blank">
                                <span class="h4 font-w600 sidebar-mini-hide">ncg</span>
                            </a>
                        </div>

                        <div class="side-content">
                            <ul class="nav-main">
                                <li>
                                    <a href="/admin"><i class="fa fa-home"></i><span class="sidebar-mini-hide">主页</span></a>
                                </li>
                                <li>
                                    <a class="active" href="/admin/article"><i class="fa fa-list"></i><span class="sidebar-mini-hide">文章管理</span></a>
                                </li>
                                <li>
                                    <a href="/admin/newarticle"><i class="fa fa-external-link"></i><span class="sidebar-mini-hide">发布新文章</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <header id="header-navbar" class="content-mini content-mini-full">
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="/assets/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">功能</li>
                                <li>
                                    <a tabindex="-1" href="javascript:void(0)">
                                        <i class="si si-share-alt pull-right"></i>发布文章
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">账号</li>
                                <li>
                                    <a tabindex="-1" href="base_pages_login.html">
                                        <i class="si si-user pull-right"></i>个人资料
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="base_pages_login.html">
                                        <i class="si si-logout pull-right"></i>注销
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </li>
                </ul>
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-image overflow-hidden" style="background-image: url('/assets/img/photos/photo-bg.jpg');">
                    <div class="push-50-t push-15">
                        <h1 class="h2 text-white animated zoomIn">ncg后台管理</h1>
                        <h2 class="h5 text-white-op animated zoomIn">欢迎回来 <span>yaya</span></h2>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Search Section -->
                <div class="content">
                    <form action="/admin/article" method="get">
                        <div class="input-group input-group-lg">
                            <input id="search" class="form-control" type="text" name="search" placeholder="搜索文章...">
                            <div class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END Search Section -->

                <!-- Page Content -->
                <div class="content">
                    <div class="block">
                        <div class="block-content tab-content bg-white">
                            <!-- Projects -->
                            <div class="tab-pane fade fade-up in active" id="search-projects">
                                <div class="border-b push-30">
                                    <h2 class="push-10">
                                        <span id="search-content" class="h5 font-w400 text-muted"></span>
                                        <span id="article-count"></span>
                                        <span class="h5 font-w400 text-muted">篇文章</span>
                                        <a id="back" class="h6 font-w400 text-muted" href="/admin/article" style="display:none;"> 返回文章列表</a>
                                    </h2>

                                </div>
                                <table class="table table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th><i class="fa fa-suitcase text-gray"></i> 标题</th>
                                            <th class="text-center" style="width: 15%;"><i class="fa fa-ticket text-gray"></i> 浏览次数</th>
                                            <th class="text-center" style="width: 15%; min-width: 110px;"><i class="fa fa-trophy text-gray"></i> 操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="content-list">

                                    </tbody>
                                </table>
                                <div class="border-t">
                                    <ul class="pagination">
                                    </ul>
                                </div>
                            </div>
                            <!-- END Projects -->
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
                <div class="pull-right">
                    Crafted with <i class="fa fa-heart text-city"></i> by yaya
                </div>
                <div class="pull-left">
                    <!--TODO:make sure the href is guide to index.html-->
                    <a class="font-w600" href="index.html" target="_blank">ncg 1.0</a> &copy; <span class="js-year-copy"></span>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <template id="template-content-tr">
            <tr>
                <td>
                    <h3 class="h5 font-w600 push-10">
                        <a href="javascript:void(0)" render="title"></a>
                    </h3>
                    <div class="push-10" render="tags">
                        <span class="label label-success" render="summary"></span>
                    </div>
                    <div class="font-s13 text-muted hidden-xs">
                        <p render="short"></p>
                    </div>
                </td>
                <td class="h3 text-center" render="count"></td>
                <td class="h3 text-center">
                    <div class="btn-group-vertical">
                        <a class="btn btn-info" render="edit">编辑</a>
                        <button class="btn btn-danger" type="button" render="delete">删除</button>
                    </div>
                </td>
            </tr>
        </template>

        <template id="template-tag-span">
            <span class="label label-primary"></span>
        </template>

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <script src="/assets/js/core/jquery.min.js"></script>
        <script src="/assets/js/core/bootstrap.min.js"></script>
        <script src="/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="/assets/js/core/jquery.appear.min.js"></script>
        <script src="/assets/js/core/jquery.countTo.min.js"></script>
        <script src="/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="/assets/js/core/js.cookie.min.js"></script>
        <script src="/assets/js/app.js"></script>

        <!-- Page Plugins -->
        <script src="/assets/js/plugins/slick/slick.min.js"></script>
        <script src="/assets/js/plugins/chartjs/Chart.min.js"></script>
        <script src="/assets/js/plugins/pagination/pagination.js"></script>

        <!-- Page JS Code -->
        <script src="/assets/js/pages/article.js"></script>
        <!-- <script src="/assets/js/pages/base_pages_dashboard.js"></script> -->
        <script>
            jQuery(function () {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
        </script>
    </body>
</html>
