<!DOCTYPE html>
<html class="no-focus">
    <head>
        <meta charset="utf-8">

        <title>Ncger-online</title>

        <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="shortcut icon" href="/assets/img/favicons/favicon.png">

        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180.png">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <link rel="stylesheet" href="/assets/js/plugins/summernote/summernote.min.css">
        <link rel="stylesheet" href="/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.css">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" id="css-main" href="/assets/css/oneui.css">
    </head>
    <body>
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

            <nav id="sidebar">
                <div id="sidebar-scroll">
                    <div class="sidebar-content">
                        <div class="side-header side-content bg-white-op">
                            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>

                            <a class="h5 text-white" href="index.html" target="_blank">
                                <span class="h4 font-w600 sidebar-mini-hide">ncg</span>
                            </a>
                        </div>

                        <div class="side-content">
                            <ul class="nav-main">
                                <li>
                                    <a href="/admin"><i class="fa fa-home"></i><span class="sidebar-mini-hide">主页</span></a>
                                </li>
                                <li>
                                    <a  href="/admin/article"><i class="fa fa-list"></i><span class="sidebar-mini-hide">文章管理</span></a>
                                </li>
                                <li>
                                    <a class="active"  href="/admin/newarticle"><i class="fa fa-external-link"></i><span class="sidebar-mini-hide">发布新文章</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <header id="header-navbar" class="content-mini content-mini-full">
                <ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="/assets/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">功能</li>
                                <li>
                                    <a tabindex="-1" href="javascript:void(0)">
                                        <i class="si si-share-alt pull-right"></i>发布文章
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="dropdown-header">账号</li>
                                <li>
                                    <a tabindex="-1" href="base_pages_login.html">
                                        <i class="si si-user pull-right"></i>个人资料
                                    </a>
                                </li>
                                <li>
                                    <a tabindex="-1" href="base_pages_login.html">
                                        <i class="si si-logout pull-right"></i>注销
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="nav-header pull-left">
                    <li class="hidden-md hidden-lg">
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                            <i class="fa fa-navicon"></i>
                        </button>
                    </li>
                    <li class="hidden-xs hidden-sm">
                        <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                    </li>
                </ul>
            </header>

            <main id="main-container">
                <div class="content">

                    <form class="js-validation-material form-horizontal push-10-t" action="javascript:void(0);">
                        <div class="block">
                            <div class="block-content">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material">
                                            <input class="form-control" id="form-title" name="form-title" placeholder="输入文章标题">
                                            <label for="form-title" >标题 <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material">
                                            <input class="form-control" id="form-author" name="form-author" placeholder="输入作者">
                                            <label for="form-author">作者 <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material">
                                            <textarea class="form-control" id="form-short" name="form-short" rows="3" placeholder="输入摘要"></textarea>
                                            <label for="form-short">摘要 <span class="text-danger">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12" for="form-image">封面</label>
                                    <div class="col-xs-12">
                                        <input type="file" id="form-image" accept="image/*" name="form-image" multiple="">
                                    </div>
                                    <img id="cover-preview" src style="height:200px; margin-left:15px; margin-top:10px;"></img>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12" for="form-summary">分类 <span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="form-summary" name="form-summary" size="1">
                                            <option value="0">请选择</option>
                                            <option value="1">线上课程</option>
                                            <option value="2">线下活动</option>
                                            <option value="3">通知</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-12" for="form-tags">标签</label>
                                    <div class="col-xs-12">
                                        <input class="js-tags-input form-control" type="text" id="form-tags" name="form-tags">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="block">
                            <div class="block-header">
                                <h3 class="block-title">文章编辑</h3>
                            </div>
                            <div class="block-content block-content-full text">
                                <div class="js-summernote"></div>
                            </div>
                        </div>

                        <div class="block">
                            <div class="block-header">
                                <h3 class="block-title">操作</h3>
                            </div>
                            <div class="block-content" style="padding-top: 0px;">
                                <div class="form-group">
                                    <div class="block-content block-content-full">
                                        <button class="btn btn-minw btn-success" type="submit">保存</button>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </form>
                </div>
            </main>
            <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
                <div class="pull-right">
                    Crafted with <i class="fa fa-heart text-city"></i> by yaya
                </div>
                <div class="pull-left">
                    <a class="font-w600" href="index.html" target="_blank">ncg 1.0</a> &copy; <span class="js-year-copy"></span>
                </div>
            </footer>
        </div>

        <script src="/assets/js/core/jquery.min.js"></script>
        <script src="/assets/js/core/bootstrap.min.js"></script>
        <script src="/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="/assets/js/core/jquery.appear.min.js"></script>
        <script src="/assets/js/core/jquery.countTo.min.js"></script>
        <script src="/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="/assets/js/core/js.cookie.min.js"></script>
        <script src="/assets/js/app.js"></script>

        <script src="/assets/js/plugins/summernote/summernote.min.js"></script>
        <script src="/assets/js/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
        <script src="/assets/js/plugins/select2/select2.full.min.js"></script>
        <script src="/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/assets/js/plugins/jquery-validation/additional-methods.min.js"></script>

        <script src="/assets/js/pages/newarticle.js"></script>
        <script>
            jQuery(function () {
                App.initHelpers('tags-inputs');
            });
        </script>
    </body>
</html>
